
body {
    padding: 0px !important;
    margin: 0px !important;
    font-family: inherit;
}
.menu-superior{
    background: #111827;
    width: 100%;


}
a {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-decoration: inherit; 
    font-family: sans-serif;
    padding-right: 25px;
    align-self: center;
    transition: 1s;
}
a:hover{
    color: gray;
    transition: 1s;
}
nav{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5rem; 
}

.divderecho{
    padding-left: 50%;
}

.divizquierdo{
    display: flex;
    
}
#logo{
    height: 2rem;
    align-self: center;
    padding-right: 25px;
}

.jumbotron{
    width: 50%;
    padding-left: 32px;
    padding-right: 32px;

    
}
.cajamadre{
    width: 100%;
    display: flex;
    height: 100vh;
    background: #111827;
    padding-bottom: 3.5rem;


}
.imagenhabitacion{
    width: 50%;
    overflow:hidden;
    }

.blog{
    width: 100%;
    background-color: white;
}

.habitacionmitad{
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: auto;

}

.descuento{
    color: white;
    background-color: black;
    border-radius: 50px 50px 50px 50px;
    width: 70%;
    padding: 0.30rem;
    align-self: self-start;
    margin-top: 3rem;
    
}

.cajaprincipaljumbotron{
    width: 100%;
    display: flex;

}

.cajamadresub{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
}

html{
    font-family: sans-serif;
    color:white;

}

.titulo{
    font-size: 3.75rem;
    letter-spacing: -.025em;
    font-weight: 800;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.span20{
    font-weight: 600;
    font-size: 0.75rem;
    padding-left: 1.5rem;
}

svg{
    display: inline !important;
}

.conoceguitarra{
    padding-left: 1.5rem;
}

.correo{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.inputcorreo{
    border-radius: 9px; 
    height: 3rem;
    margin-right: 0.5rem;
    width: 85%;
    padding-left: 1.4rem;

}
img{
    max-width: none !important;
}

.guitarras3{
    text-align: center;
    color: black;
    padding-top: 6rem;

}

.nuevas{
    font-weight: 600;
    letter-spacing: .05em;
    
}

.guitarrasllegadas{
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -.025em;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.trovador{
    font-size: 1.25rem ;
    line-height: 1.75rem;
    color: gray;   
}

